/* *{
    margin: 1px;
    padding: 0;
} */

.top-container {
    background-image: url('../images/Rectangle\ 1.png');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* position: absolute; */
    left: 0px;
    top: 0px;

    /* height: 100vh; */
    /* background-color: #f1f1f1; */
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

    
.top-header {
    position: absolute;
    width: 500px;
    height: 406px;
    left: 200px;
    top: 30%;
    font-size: 20px;
}

.top-header p {
    position: relative;
    /* top: 5%; */
}

/* nav-bar */
.nav-container li{
    display: inline;
    /* float: right; */
    padding: 12px;
    margin: 8px;
}

.nav-container{
    right: 10%;
    position: absolute;
    top: 50px;
    /* transition: border-radius 0.3s ease; */
    /* background-color: #f1f1f1; */
    transition: all 0.3s ease;
    /* border: 1px solid #ccc; */
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); */
}
li:hover{
    background-color: #F8464A;
    border-radius: 10px;
    color:bisque;
    /* box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); */
}

.input-container {
    position: absolute;
    width: 502px;
    height: 73px;
    left: 194px;
    top: 75%;
    background: #FFFF;
    border-radius: 8px;
    color:black;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* align-content: center; */
}
  
.input-button {
    border-color: antiquewhite;
    position: absolute;
    width: 136px;
    height: 61px;
    left: 360px;
    top: 5px;
    
    color:white;
    background: #FC2947;
    border-radius: 8px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px; 
}

.input-container p{
    left: 5%;
    position: absolute;
    color: #808080;
    font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
}